<p id="notice"><%= notice %></p>
<%= render "/shared/navbar" %>

<h1>Welcome to the buying area</h1>
<div class="table-responsive">
  <div class="buying-table">
    <table class="table">
      <thead class="thead-dark">

          <tr>
            <th scope="col-sm">Name</th>
            <th scope="col-sm">Price</th>
            <th scope="col-sm">Condition</th>
            <th scope="col-sm">Aircraft Model</th>
            <th scope="col-sm">See More</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= number_to_currency product.price %></td>
              <td><%= product.condition %></td>
              <td><%= product.aircraft_model %></td>
              <td><%= link_to 'Show', product %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>
<br>

<div class="new-product">
  <h6>Don't see the model you want? Why not sell it?</h6>
  <br>
  <%= link_to 'New Product', new_product_path, class:"btn btn-success" %>
</div>